<div class="input-container">
    <input type="text" [(ngModel)]="userInput" (input)="onInput($event)">
    <img class="share-btn" src="../../../assets/share.svg" (click)="onShareButtonClick()" height="50px" width="50px">
    @if (isColorActive === false) {
        <img class="color-btn" src="../../../assets/color.svg" (click)="onColorButtonClick()" height="50px" width="50px">
    } @else {
        <img class="color-btn" src="../../../assets/colorActive.svg" (click)="onColorButtonClick()" height="50px" width="50px">
    }
</div>