.input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    
    input {
        padding: 12px;
        width: 35%;
        font-size: large;
        border: 1px solid #000000;
    }
}